DATABASE_URL="file:./dev.db"
NODE_ENV="development"
PORT="4000"
OPEN_FOOD_FACTS_BASE_URL="https://world.openfoodfacts.org/api/v2"
NEWS_API_KEY=""
GOOGLE_CUSTOM_SEARCH_API_KEY=""
GOOGLE_CUSTOM_SEARCH_ENGINE_ID=""
