node_modules/
frontend/node_modules/
frontend/.next/
frontend/tsconfig.tsbuildinfo
dist/
.next/
.env
prisma/dev.db
prisma/dev.db-journal
prisma/schema.generated.prisma
tmp-api.log
tmp-api.err.log
tmp-api-live.log
tmp-api-live.err.log
frontend/tmp-front.log
frontend/tmp-front.err.log
frontend/tmp-front-live.log
frontend/tmp-front-live.err.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
